.high {
    background-color: #edd;
}

.medium {
    background-color: cornsilk;
}

.low {
    background-color: #ded
}

thead {
    background-color: black;
}

.purchased {
    text-decoration: line-through;
}